In [1]:
%matplotlib qt
import pandas as pd
import os

In [2]:
df = pd.read_csv('./survey_answers.csv')

In [7]:
df['gender'].value_counts()

Female    8
Male      3
Name: gender, dtype: int64

In [9]:
df.describe()

             age  lofi_likeness_scale
count  11.000000            11.000000
mean   19.818182             4.818182
std     1.328020             1.940009
min    18.000000             2.000000
25%    19.000000             3.500000
50%    20.000000             5.000000
75%    21.000000             6.000000
max    22.000000             8.000000