> This notebook is very messy and was just used for a single restructuring of the FieldTrip output tables

In [ ]:
%matplotlib qt 

import pandas as pd
import numpy as np
import os
import re 
import matplotlib.pyplot as plt
import scipy.io
from functools import reduce
import json

In [17]:
# Loading preprocessed FieldTrip data (FieldTrip_processing)

all_data = {
    'leftTarget_cueValid': '',
    'leftTarget_cueInvalid': '',
    'rightTarget_cueValid': '',
    'rightTarget_cueInvalid': ''
}

data_path = '../FieldTrip_processing/'
names = ['P200']

all_data['leftTarget_cueValid'] = pd.read_csv(data_path + 'targLV_P_ascii.csv',
                                             names= names)
all_data['leftTarget_cueInvalid'] = pd.read_csv(data_path + 'targLI_P_ascii.csv',
                                             names= names)
all_data['rightTarget_cueValid'] = pd.read_csv(data_path + 'targRV_P_ascii.csv',
                                             names= names)
all_data['rightTarget_cueInvalid'] = pd.read_csv(data_path + 'targRI_P_ascii.csv',
                                             names= names)

In [18]:
df = all_data['leftTarget_cueValid']

In [20]:
df_Valid, df_Invalid = all_data['leftTarget_cueValid'], all_data['leftTarget_cueInvalid']

In [21]:
df_Valid.iloc[:11]

         P200
0    7.936778
1    2.256756
2    2.971363
3    5.343035
4    0.743428
5    8.832520
6    9.037073
7   11.933241
8    6.390129
9    7.090419
10   7.049176

In [27]:
leftTarget = pd.DataFrame(columns= ['cueValid_silence', 'cueValid_white', 'cueValid_lofi',
                                   'cueInvalid_silence', 'cueInvalid_white', 'cueInvalid_lofi'])

In [29]:
leftTarget['cueValid_silence'] = df_Valid['P200'].head(11)

In [32]:
leftTarget['cueInvalid_silence'] = df_Invalid['P200'].head(11)

In [33]:
leftTarget

,cueValid_silence,cueValid_white,cueValid_lofi,cueInvalid_silence,cueInvalid_white,cueInvalid_lofi
0,7.936778,NaN,NaN,4.601610,NaN,NaN
1,2.256756,NaN,NaN,-5.285469,NaN,NaN
2,2.971363,NaN,NaN,1.643040,NaN,NaN
3,5.343035,NaN,NaN,4.661086,NaN,NaN
4,0.743428,NaN,NaN,0.333825,NaN,NaN
5,8.832520,NaN,NaN,10.084850,NaN,NaN
6,9.037073,NaN,NaN,7.822569,NaN,NaN
7,11.933241,NaN,NaN,13.034586,NaN,NaN
8,6.390129,NaN,NaN,2.947672,NaN,NaN
9,7.090419,NaN,NaN,6.215966,NaN,NaN
10,7.049176,NaN,NaN,9.178427,NaN,NaN

In [41]:
leftTarget['cueValid_white'],leftTarget['cueInvalid_white'] = df_Valid['P200'][11:22], df_Invalid['P200'][11:22]

In [42]:
leftTarget

,cueValid_silence,cueValid_white,cueValid_lofi,cueInvalid_silence,cueInvalid_white,cueInvalid_lofi
0,7.936778,NaN,NaN,4.601610,NaN,NaN
1,2.256756,NaN,NaN,-5.285469,NaN,NaN
2,2.971363,NaN,NaN,1.643040,NaN,NaN
3,5.343035,NaN,NaN,4.661086,NaN,NaN
4,0.743428,NaN,NaN,0.333825,NaN,NaN
5,8.832520,NaN,NaN,10.084850,NaN,NaN
6,9.037073,NaN,NaN,7.822569,NaN,NaN
7,11.933241,NaN,NaN,13.034586,NaN,NaN
8,6.390129,NaN,NaN,2.947672,NaN,NaN
9,7.090419,NaN,NaN,6.215966,NaN,NaN
10,7.049176,NaN,NaN,9.178427,NaN,NaN

In [43]:
leftTarget['cueValid_white'] = df_Valid['P200'][11:22] 
leftTarget['cueInvalid_white'] = df_Invalid['P200'][11:22]

In [44]:
leftTarget

,cueValid_silence,cueValid_white,cueValid_lofi,cueInvalid_silence,cueInvalid_white,cueInvalid_lofi
0,7.936778,NaN,NaN,4.601610,NaN,NaN
1,2.256756,NaN,NaN,-5.285469,NaN,NaN
2,2.971363,NaN,NaN,1.643040,NaN,NaN
3,5.343035,NaN,NaN,4.661086,NaN,NaN
4,0.743428,NaN,NaN,0.333825,NaN,NaN
5,8.832520,NaN,NaN,10.084850,NaN,NaN
6,9.037073,NaN,NaN,7.822569,NaN,NaN
7,11.933241,NaN,NaN,13.034586,NaN,NaN
8,6.390129,NaN,NaN,2.947672,NaN,NaN
9,7.090419,NaN,NaN,6.215966,NaN,NaN
10,7.049176,NaN,NaN,9.178427,NaN,NaN

In [52]:
leftTarget['cueInvalid_white'] = df_Invalid['P200'][11:22].reset_index(drop= True)

In [57]:
leftTarget['cueInvalid_lofi'] = df_Invalid['P200'][22:].reset_index(drop= True)

In [59]:
leftTarget.to_csv('./left_target_P200.csv',
                 index= False,
                 encoding= 'utf8')

In [47]:
leftTarget

,cueValid_silence,cueValid_white,cueValid_lofi,cueInvalid_silence,cueInvalid_white,cueInvalid_lofi
0,7.936778,NaN,NaN,4.601610,NaN,NaN
1,2.256756,NaN,NaN,-5.285469,NaN,NaN
2,2.971363,NaN,NaN,1.643040,NaN,NaN
3,5.343035,NaN,NaN,4.661086,NaN,NaN
4,0.743428,NaN,NaN,0.333825,NaN,NaN
5,8.832520,NaN,NaN,10.084850,NaN,NaN
6,9.037073,NaN,NaN,7.822569,NaN,NaN
7,11.933241,NaN,NaN,13.034586,NaN,NaN
8,6.390129,NaN,NaN,2.947672,NaN,NaN
9,7.090419,NaN,NaN,6.215966,NaN,NaN
10,7.049176,NaN,NaN,9.178427,NaN,NaN

In [60]:
rightTarget = pd.DataFrame(columns= ['cueValid_silence', 'cueValid_white', 'cueValid_lofi',
                                   'cueInvalid_silence', 'cueInvalid_white', 'cueInvalid_lofi'])

In [61]:
right_Valid = all_data['rightTarget_cueValid']
right_Invalid = all_data['rightTarget_cueInvalid']

In [65]:
right_Valid['P200'][:11].reset_index(drop= True)
# right_Invalid['P200'][:11].reset_index(drop= True)

0     9.305009
1     0.646364
2     3.412018
3     4.275257
4    -2.399448
5     8.155348
6     7.241549
7     4.836548
8     4.656599
9     8.746956
10    1.850998
Name: P200, dtype: float64

In [66]:
rightTarget['cueValid_silence'] = right_Valid['P200'][:11].reset_index(drop= True)
rightTarget['cueInvalid_silence'] = right_Invalid['P200'][:11].reset_index(drop= True)

In [69]:
rightTarget['cueValid_white'] = right_Valid['P200'][11:22].reset_index(drop= True)
rightTarget['cueInvalid_white'] = right_Invalid['P200'][11:22].reset_index(drop= True)

In [70]:
right_Valid['P200'][22:].reset_index(drop= True)

0     10.752327
1      1.295763
2      4.910483
3      5.306361
4     -3.922633
5      9.254598
6      4.183619
7      8.498647
8      6.468646
9      8.514081
10     3.583479
Name: P200, dtype: float64

In [71]:
rightTarget['cueValid_lofi'] = right_Valid['P200'][22:].reset_index(drop= True)
rightTarget['cueInvalid_lofi'] = right_Invalid['P200'][22:].reset_index(drop= True)

In [73]:
rightTarget.to_csv('./right_target_P200.csv',
                 index= False,
                 encoding= 'utf8')

In [87]:
alphas = pd.read_csv(os.path.join(data_path, 'alpha_all_ascii.csv'),
                    sep= '\t',
                    names = ['silence', 'white', 'lofi']
                    )

In [81]:
# alphas.drop(columns= ['Unnamed: 3'], inplace= True)

KeyError: "['Unnamed: 3'] not found in axis"

In [89]:
alphas.reset_index(inplace= True)

In [93]:
alphas.rename(columns = {
    'index': 'silence',
    'silence': 'white',
    'white': 'lofi',
    'lofi': 'remove'
}, inplace= True)

In [95]:
alphas.drop(columns = ['remove'], inplace= True)

In [100]:
alpha_contra = alphas[:11].reset_index(drop=True)
alpha_ipsi = alphas[11:].reset_index(drop=True)

print(alpha_contra.shape, alpha_ipsi.shape)

(11, 3) (11, 3)

In [102]:
alpha_contra.rename(columns = {
    'silence': 'contra_silence',
    'white': 'contra_white',
    'lofi': 'contra_lofi'
}, inplace= True)

alpha_ipsi.rename(columns = {
    'silence': 'ipsi_silence',
    'white': 'ipsi_white',
    'lofi': 'ipsi_lofi'
}, inplace= True)

In [104]:
alpha_reshaped = pd.concat([alpha_contra, alpha_ipsi], axis=1)

In [106]:
alpha_reshaped.to_csv('./alpha_reshaped.csv',
                 index= False,
                 encoding= 'utf8')